<!DOCTYPE html>
<html>
	<head>
		<title>Online Bag</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
		  
	</head>
	<body> 
		<div class="container-fliud text-info mb-3" style="background-color:#007bff !important;">
			<nav class="navbar navbar-expand-sm maxx" style="background:#e8e8e8"> 
			     
 				 <ul class="row navbar-nav  " style="float:left">
					  <li class="nav-item mr-sm-3"> 
					  </li>
					 	<div class="row">
							<div class="col-md-6">
							<h3 -calss="pt-5" style="color:black;padding-top: 27px;"> My Flipcart Demo </h3>
							   </div>
								<div class="col-md-6">
									{{ page.nav_additional }}
								</div>
						</div>	  
							<div class="row">
								<div class="col-md-12 dropdown">
									<div class="row" style="display:flex;background-color:white">
										 
										{{ page.nav_main }}
									</div>	
								</div>		 
							</div>
							
					</ul>
				</div> 
			</nav>
		</div> 

			<div class="container-fliud mb-2">  
				 	 
				</div>
				<div class="row mt-1 pt-2" style="background-color:white;padding-right:20px"> 
					<div class="col-md-2 mb-3">
						{{ sidebar_first_classes }} {{ page.sidebar_first }}
				    </div>
                        <div class="col-md-10"z>
                            {{ content_classes }} {{ page.content }}
                        </div>
                            
			    </div> 

		 		<!--- footer--->
				<div class="container-fliud">
					<div class="row">
						{{ page.footer_top }}
					</div>
					<div class="footer">
						<div class="row">  
 							<div class="col-md-3">
								{{ page.footer_first_column }}
							</div>
								<div class="col-md-3">
									{{ page.footer_second_column }}
							    </div>
									<div class="col-md-3">
										{{ page.footer_third_column }}
									</div> 
										<div class="col-md-3">
											{{ page.footer_forth_column }}
										</div>
											<div class="row">
												{{ page.footer_bottom }}
											</div>
								<!--- footer--->
							 
					</div>
			</div>
			  
	</body>
</html>
